# Scientific/ML
numpy
scipy
pandas
matplotlib
scikit-learn
sympy
torch

# Visualization
seaborn
plotly
Pillow
imageio
imageio-ffmpeg

# Notebook / Demos
notebook
nbconvert
voila
streamlit

# Signal Processing / IO
opencv-python
h5py

# PDF, Markdown, Web
reportlab
markdown
